
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.progress {
    background-color: #bdd3fb;
    border-radius: 0;
    box-shadow: none;
    height: 29px;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0 !important;
    margin-top: 1px;
}
.bar {
  background-color:#427ae3;
  box-shadow:0 -1px 1px rgba(0,0,0,.15) inset;
  color:white;
  text-shadow: #000 0px 0px 1px;
  font-weight: bold;
  float:left;
  height:100%;
  position:relative;
  text-align:left;
}

.bar > .job-completed {
  font-size:1.3rem;
  left:8px;
  position:absolute;
  top:3px;
  white-space: nowrap;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.tablekey { 
    background-color: lightgray;
    text-align : right;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}
.tablevalue { 
    text-align : left;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}
.rowkey { 
    background-color: lightgray;
    text-align : center;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}
.complete {
    background-color: lightgreen;
}
.incomplete {
    background-color: lightblue;
}
.submitted {
    background-color: lightblue;
}
.running {
    background-color: gold;
}
.tablevalue.passed {
    background-color: lightgreen;
}
.tablevalue.failed {
    background-color: lightpink;
}
.panel-heading.passed {
    background-color: lightgreen;
}
.panel-heading.failed {
    background-color: lightpink;
}
.row {
    height: 100%;
    overflow: hidden;
}
.results {
    margin: 5px 5px 5px 5px;
}
.glyphicon-loading {
  font-size: 1.2em;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}