
{% extends "base.html" %}

{% block datacheck_table %}

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="bg-purple">Name</th>
        <th class="bg-purple">Description</th>
        <th class="bg-purple">Type</th>
        <th class="bg-purple">Groups</th>
      </tr>
    </thead>
    <tbody>
    {% for group_name in datachecks | sort %}
      <tr>
        <td colspan="4" class="bg-white"><a id="{{ group_name }}" /></td>
      </tr>
      <tr>
        <td colspan="4" class="bg-light-purple">
          <span class="text-left">Group: <strong>{{ group_name }}</strong></span>
          <a href="#top" class="top_link"><em>Top of page</em></a></span>
        </td>
      </tr>
      {% for datacheck in datachecks[group_name] | sort(attribute='name') %}
        {% set name = datacheck.name %}
        {% set type = datacheck.datacheck_type %}
        <tr>
          <td><a title="{{ name }} Perl module (opens in new tab)" href="{{ repo_url }}{{ name }}.pm" target="_blank">{{ name }}</a></td>
          <td>{{ datacheck.description }}</td>
          <td><a title="View all {{ type }} datachecks" href="/types#{{ type }}">{{ type }}</a></td>
          <td>
            {% set pipe = joiner("|") %}
            {% for group in datacheck.groups | sort %}
              {{ pipe() }}
              <a title="View all '{{ group }}' datachecks" href="/groups#{{ group }}">{{ group }}</a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
