<div class="container">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="job_id"> Job ID: </label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="job_id" ng-model="jobId" />
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-default" ng-click="getResult()">View</button>
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-default" ng-click="refresh()">Refresh</button>
			</div>
			<div ng-show="jobResult.status == 'running'">
			    <div class="col-sm-2">
				    <button type="submit" class="btn btn-default" ng-click="stopCopy()">Cancel copy</button>
			    </div>
			</div>
			<div ng-hide="jobResult.status == 'running'">
				<div class="col-sm-1">
					<button type="submit" class="btn btn-default" ng-click="deleteCopyJob()">Delete job</button>
				</div>
			</div>
		</div>
	</form>
    <span ng-show="running" ><i class="glyphicon glyphicon-refresh glyphicon-spin glyphicon-loading"></i>
        <text class="glyphicon-loading">Loading...</text>
    </span>
	<div class="results" ng-hide="jobResult == null">
		<div class="row">
			<div class="col-sm-2">
				<div class="tablekey">Source DB:</div>
			</div>
			<div class="col-sm-10 tablevalue">{{jobResult.input.source_db_uri}}</div>
		</div>
	    <div class="row">
			<div class="col-sm-2">
				<div class="tablekey">Target DB:</div>
			</div>
			<div class="col-sm-10 tablevalue">{{jobResult.input.target_db_uri}}</div>
		</div>
		<div ng-hide="jobResult.status == 'failed'">
			<div class="row">
				<div class="col-sm-2">
					<div class="tablekey">Job status:</div>
				</div>
				<div class="col-sm-10 tablevalue {{jobResult.status}}">{{jobResult.status}}: {{jobResult.progress.message}}</div>
			</div>
		</div>
		<div ng-show="jobResult.status == 'failed'">
			<div class="row">
				<div class="col-sm-2">
					<div class="tablekey">Job status:</div>
				</div>
				<div class="col-sm-10 tablevalue {{jobResult.status}}">{{jobResult.status}}</div>
			</div>
		</div>
		<div ng-show="jobResult.status == 'running'">
				<div class="row">
			        <div class="col-sm-2">
				        <div class="tablekey">Progress:</div>
			        </div>
		            <div class="col-sm-10 tablevalue progress">
                        <div class="bar" style="width:{{((jobResult.progress.complete / jobResult.progress.total) * 100)}}%">
                        <span class="job-completed">{{jobResult.progress.complete}}/{{jobResult.progress.total}} tasks done</span>
                       </div>
                   </div>
	        </div>
	    </div>
		<div ng-hide="jobResult.output == null">
			<div class="row">
				<div class="col-sm-2">
					<div class="tablekey">Copy took:</div>
				</div>
				<div class="col-sm-10 tablevalue {{jobResult.output.runtime}}">{{jobResult.output.runtime}}</div>
			</div>
		</div>
	    <div ng-show="jobResult.status == 'failed'">
			<div class="row">
				<div class="col-sm-2">
					<div class="tablekey">Copy failed with the following error:</div>
				</div>
				<div class="col-sm-10 tablevalue">{{jobMsg.msg}}</div>
			</div>
		</div>

	</div>