<div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="ServerUri">
                Database server URI:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ServerUri" ng-model="ServerUri"
                       bs-options="hidePassword(serveruri) for serveruri in getServerUris($viewValue)"
                       placeholder="Enter Server URI, e.g: mysql://ensro@mysql-ens-general-dev-1:4484/" bs-typeahead>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="dbName">
                Database:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="dbName" ng-model="dbName"
                       bs-options="dbName for dbName in getDbs($viewValue)" minLength="3" bs-typeahead>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">
                Email:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" ng-model="email" minLength="10"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="description">
                Description:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" ng-model="description" md-maxlength="150"
                       rows="2"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="keepValues" ng-model="keepValues">
                    <label class="form-check-label" for="keeValues">Submit more</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-pull-10">
                <button type="submit" class="btn btn-outline-secondary pull-right"
                        ng-click="submitDatabaseHandoverJob()">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

