<div class="container">
  <form>
        <div>
        <button type="submit" class="btn btn-default" ng-click="refresh()">Refresh</button>
        <button type="submit" class="btn btn-default" ng-click="ReSubmitJobs()">Re-submit jobs</button>
        <button type="submit" class="btn btn-default" ng-click="deleteJobs()">Delete jobs</button>
        </div>
    </form>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Handover databases" ng-model="searchHandoverDatabase">
      </div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th scope="col" title="Handover token">
           <a href="#!/database_handover_list" ng-click="sortType = 'handover_token'; sortReverse = !sortReverse">
                Handover token
                <span ng-show="sortType == 'handover_token' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'handover_token' && sortReverse" class="fa fa-caret-up"></span>
            </a>
       </th>
       <th scope="col" title="Date">
           <a href="#!/database_handover_list" ng-click="sortType = 'report_time'; sortReverse = !sortReverse">
               Date
               <span ng-show="sortType == 'report_time' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'report_time' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="DB">
           <a href="#!/database_handover_list" ng-click="sortType = 'src_uri'; sortReverse = !sortReverse">
               DB
               <span ng-show="sortType == 'src_uri' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'src_uri' && sortReverse" class="fa fa-caret-up"></span>
          </a>
      </th>
       <th scope="col" title="Email">
           <a href="#!/database_handover_list" ng-click="sortType = 'contact'; sortReverse = !sortReverse">
               Email
               <span ng-show="sortType == 'contact' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'contact' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
      <th scope="col" title="Description">
          <a href="#!/database_handover_list" ng-click="sortType = 'description'; sortReverse = !sortReverse">
              Description
              <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
         </a>
      </th>
      <th scope="col" title="Status">
        <a href="#!/database_handover_list" ng-click="sortType = 'status'; sortReverse = !sortReverse">
            Status
            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
       </a>
      </th>
       <th scope="col" title="Select">
          <a href="#!/database_handover_list" ng-click="sortType = 'select'; sortReverse = !sortReverse">
               Select
               <span ng-show="sortType == 'select' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'select' && sortReverse" class="fa fa-caret-up"></span>
           </a>
           <input type="checkbox" ng-model="selectAll" ng-click="checkAll()">
      </th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="job in jobs | orderBy:sortType:sortReverse | filter:searchHandoverDatabase" >
    <td><a href="/#!/database_handover_result/{{job.handover_token}}">{{job.handover_token}}</a></td>
    <td>{{job.report_time | date:'dd-MM-yyyy HH:mm'}}</td>
		<td>{{job.src_uri}}</td>
    <td>{{job.contact}}</td>
    <td>{{job.comment}}</td>
    <td>{{checkStatus(job.current_message)}}</td>
    <td><input type="checkbox" ng-model="job.Selected" ></td>
     </tr>
	 </tbody>
 </table>
  <span ng-show="running" ><i class="glyphicon glyphicon-refresh glyphicon-spin glyphicon-loading"></i>
      <text class="glyphicon-loading">Loading...</text>
  </span>
</div>
