<div class="container-fluid">
  <form>
        <div>
            <button type="submit" class="btn btn-default" ng-click="refresh()">Refresh</button>
            <button type="submit" class="btn btn-default" ng-click="ReSubmitJobs()">Re-submit jobs</button>
            <button type="submit" class="btn btn-default" ng-click="deleteJobs()">Delete jobs</button>
        </div>
    </form>
  <form>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search HC job" ng-model="searchHcJob">
      </div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th scope="col" title="ID">
           <a href="#!/hc_list" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                ID
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </a>
       </th>
       <th scope="col" title="Date">
           <a href="#!/hc_list" ng-click="sortType = 'date'; sortReverse = !sortReverse">
               Date
               <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="DB">
           <a href="#!/hc_list" ng-click="sortType = 'db'; sortReverse = !sortReverse">
               DB
               <span ng-show="sortType == 'db' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'db' && sortReverse" class="fa fa-caret-up"></span>
          </a>
      </th>
       <th scope="col" title="HCs">
           <a href="#!/hc_list" ng-click="sortType = 'hc'; sortReverse = !sortReverse">
               HCs
               <span ng-show="sortType == 'hc' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'hc' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="Status">
           <a href="#!/hc_list" ng-click="sortType = 'status'; sortReverse = !sortReverse">
               Status
               <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="Tag">
        <a href="#!/hc_list" ng-click="sortType = 'tag'; sortReverse = !sortReverse">
            Tag
            <span ng-show="sortType == 'tag' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tag' && sortReverse" class="fa fa-caret-up"></span>
       </a>
    </th>
       <th scope="col" title="Select">
          <a href="#!/hc_list" ng-click="sortType = 'select'; sortReverse = !sortReverse">
            Select
               <span ng-show="sortType == 'select' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'select' && sortReverse" class="fa fa-caret-up"></span>
           </a>
           <input type="checkbox" ng-model="selectAll" ng-click="checkAll()">
      </th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="job in jobs | orderBy:sortType:sortReverse | filter:searchHcJob">
		<td><a href="/#!/hc_result/{{job.id}}">{{job.id}}</a></td>
    <td>{{job.input.timestamp * 1000 | date:'dd-MM-yyyy HH:mm'}}</td>
		<td>{{hidePassword(job.input.db_uri)}}</td>
		<td>
		<span ng-repeat="name in job.input.hc_names">{{name}}<br/></span>
		<span ng-repeat="name in job.input.hc_groups">{{name}}<br/></span>
		</td>
    <td>{{job.status}}</td>
    <td>{{job.input.tag}}</td>
    <td><input type="checkbox" ng-model="job.Selected" ></td>
     </tr>
	 </tbody>
 </table>
  <span ng-show="running" ><i class="glyphicon glyphicon-refresh glyphicon-spin glyphicon-loading"></i>
      <text class="glyphicon-loading">Loading...</text>
  </span>
</div>
