<div class="container">
	  <form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="dbUri">
	      Test server URI:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="dbUri" ng-model="dbUri" bs-options="uri for uri in getUris($viewValue)" placeholder="Enter URI, e.g: mysql://ensro@mysql-ens-general-dev-1:4484/" bs-typeahead>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="dbName">
	      Test database:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="dbName" ng-model="dbName" bs-options="dbName for dbName in getDbs($viewValue)" minLength="3" bs-typeahead>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="hcNames">
	      Healthcheck names:
	    </label>
	    <div class="col-sm-10">
	      <tags-input id="hcNames" ng-model="hcNames" add-on-paste="true" placeholder="Healthcheck(s) to run" use-strings="true">
		<auto-complete source="loadHcNames($query,'hc_list.json')"></auto-complete>
	      </tags-input>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="hcGroups">
	     Healthcheck groups:
	    </label>
	    <div class="col-sm-10">
	      <tags-input id="hcGroups" ng-model="hcGroups" add-on-paste="true" placeholder="Healthcheck group(s) to run" use-strings="true">
		<auto-complete source="loadHcNames($query, 'hc_groups.json')"></auto-complete>
	      </tags-input>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="staging_uri">
	      Staging URI:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="staging_uri" ng-model="staging_uri" bs-options="dbName for dbName in getUris($viewValue)" minLength="3" bs-typeahead>
	    </div>	    
	  </div>
	  
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="live_uri">
	      Live URI:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="live_uri" ng-model="live_uri" bs-options="dbName for dbName in getUris($viewValue)" minLength="3" bs-typeahead>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="compara_uri">
	      Compara Master URI:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="compara_uri" ng-model="compara_uri" bs-options="dbName for dbName in getUris($viewValue)" minLength="3" bs-typeahead>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="production_uri">
	      Production URI:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="production_uri" ng-model="production_uri" bs-options="dbName for dbName in getUris($viewValue)" minLength="3" bs-typeahead>
	    </div>
		</div>
		<div class="form-group">
	    <label class="col-sm-2 control-label" for="data_files_path">
				Data files path:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="data_files_path" ng-model="data_files_path" minLength="3" bs-typeahead>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="email">
	      Email:
	    </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="email" ng-model="email"  minLength="10" bs-typeahead/>
	    </div>
	  </div>
	  <div class="col-sm-12">
	    <button type="submit" class="btn btn-default pull-right" ng-click="submitJob()">Submit</button>
	  </div>
	  <div class="col-sm-12">
	    <label class="pull-right">Submit more:
	      <input type="checkbox" ng-model="keepValues" id="keepValues"/>
	    </label>
	  </div>
	  </form>
</div>

