<div class="container-fluid">
    <h4>Reporting bug or suggest improvements:</h4>
    <ul>
        <li><p>Any issue, Please email the ensembl production team or submit a <a
                href="https://www.ebi.ac.uk/panda/jira/secure/CreateIssue!default.jspa">JIRA ticket</a></p></li>
    </ul>
    <h4>Production self service guide:</h4>
    <ul>
        <li><p>Read the Production self service guide <a
                href="https://github.com/Ensembl/ensembl-prodinf-web/blob/master/Production_service_interface_guide.pdf">here</a>
        </p></li>
    </ul>
    <h4>Healthcheck bulk submission:</h4>
    <ul>
        <li><p>This can be used to submit one or more healthcheck job(s) using the REST endpoint directly. Please read
            documentation <a
                    href="https://github.com/Ensembl/ensembl-prodinf-core/blob/master/docs/bulk_hc_submission.rst">here</a>
        </p></li>
    </ul>
    <h4>Database bulk copy:</h4>
    <ul>
        <li><p>This can be used to copy one or more databases using the REST endpoint directly. Please read
            documentation <a href="https://github.com/Ensembl/ensembl-prodinf-core/blob/master/docs/bulk_db_copy.rst">here</a>
        </p></li>
    </ul>
    <h4>Database bulk Handover:</h4>
    <ul>
        <li><p>This can be used to handover one or more databases using the REST endpoint directly. Please read
            documentation <a
                    href="https://github.com/Ensembl/ensembl-prodinf-core/blob/master/docs/bulk_handover_database.rst">here</a>
        </p></li>
    </ul>
    <h4>Healthcheck, database copy, metadata and handover endpoints:</h4>
    <ul>
        <li><p><a href="hc/">Healthcheck endpoint</a></p></li>
        <li><p><a href="dbcopy/">Database copy endpoint</a></p></li>
        <li><p><a href="metadata/">Metadata endpoint</a></p></li>
        <li><p><a href="handover/">Handover endpoint</a></p></li>
    </ul>
    <h4>Healthcheck, database copy, metadata and handover endpoints endpoints documentation:</h4>
    <ul>
        <li><p><a href="hc/apidocs">Healthcheck endpoint documentation</a></p></li>
        <li><p><a href="dbcopy/apidocs">Database copy endpoint documentation</a></p></li>
        <li><p><a href="metadata/apidocs">Metadata endpoint documentation</a></p></li>
        <li><p><a href="handover/apidocs">Handover endpoint documentation</a></p></li>
    </ul>
</div>