<div class="container-fluid">
    <h2 class="h2-homepage"> Welcome to the {[{websiteName}]} Production Services</h2>

</div>
<div class="container-fluid">

    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapse_hc">
            Healthcheck
        </div>
        <div id="collapse_hc" class="card-body collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="#!hc_submit">Submit HC job</a></li>
                <li class="list-group-item"><a href="#!hc_list">List HC jobs</a></li>
                <li class="list-group-item"><a href="#!hc_result">View HC job</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapse_copy">Database copy</div>
        <div id="collapse_copy" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="#!copy_submit">Submit copy job</a></li>
                <li class="list-group-item"><a href="#!copy_list">List copy jobs</a></li>
                <li class="list-group-item"><a href="#!copy_result">View copy job</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapse_database_handover">Database handover
        </div>
        <div id="collapse_database_handover" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="#!database_handover_submit">Handover a database</a></li>
                <li class="list-group-item"><a href="#!database_handover_list">List Handover database jobs</a></li>
                <li class="list-group-item"><a href="#!database_handover_result">View handover database detail</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapse_database_server_monitor">Database server
            monitor
        </div>
        <div id="collapse_database_server_monitor" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="#!database_server_status">Database server status</a></li>
                <li class="list-group-item"><a href="#!database_server_size">Database size</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <a href="#!help" class="card-header">Get Help</a>
    </div>
</div>