<div class="container">
  <form>
        <div>
        <button type="submit" class="btn btn-default" ng-click="refresh()">Refresh</button>
        <button type="submit" class="btn btn-default" ng-click="ReSubmitJobs()">Re-submit jobs</button>
        <button type="submit" class="btn btn-default" ng-click="deleteJobs()">Delete jobs</button>
        </div>
    </form>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search DB metadata load job" ng-model="searchMetadataLoadJob">
      </div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th scope="col" title="ID">
           <a href="#!/metadata_list" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                ID
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </a>
       </th>
       <th scope="col" title="Date">
           <a href="#!/metadata_list" ng-click="sortType = 'date'; sortReverse = !sortReverse">
               Date
               <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="DB">
           <a href="#!/metadata_list" ng-click="sortType = 'database_uri'; sortReverse = !sortReverse">
               DB
               <span ng-show="sortType == 'sourcedb' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'sourcedb' && sortReverse" class="fa fa-caret-up"></span>
          </a>
      </th>
       <th scope="col" title="Email">
           <a href="#!/metadata_list" ng-click="sortType = 'email'; sortReverse = !sortReverse">
               Email
               <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="Update_type">
          <a href="#!/metadata_list" ng-click="sortType = 'update_type'; sortReverse = !sortReverse">
            Update type
              <span ng-show="sortType == 'update_type' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'update_type' && sortReverse" class="fa fa-caret-up"></span>
         </a>
      </th>
      <th scope="col" title="Comment">
          <a href="#!/metadata_list" ng-click="sortType = 'comment'; sortReverse = !sortReverse">
              Comment
              <span ng-show="sortType == 'comment' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'comment' && sortReverse" class="fa fa-caret-up"></span>
         </a>
      </th>
       <th scope="col" title="Status">
           <a href="#!/metadata_list" ng-click="sortType = 'status'; sortReverse = !sortReverse">
               Status
               <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
          </a>
       </th>
       <th scope="col" title="Select">
          <a href="#!/metadata_list" ng-click="sortType = 'select'; sortReverse = !sortReverse">
               Select
               <span ng-show="sortType == 'select' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'select' && sortReverse" class="fa fa-caret-up"></span>
           </a>
           <input type="checkbox" ng-model="selectAll" ng-click="checkAll()">
        </a>
      </th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="job in jobs | orderBy:sortType:sortReverse | filter:searchMetadataLoadJob" >
    <td><a href="/#!/metadata_result/{{job.id}}">{{job.id}}</a></td>
    <td>{{job.input.timestamp * 1000 | date:'dd-MM-yyyy HH:mm'}}</td>
		<td>{{job.input.database_uri}}</td>
    <td>{{job.input.email}}</td>
    <td>{{job.input.update_type}}</td>
    <td>{{job.input.comment}}</td>
    <td>{{job.status}}</td>
    <td><input type="checkbox" ng-model="job.Selected" ></td>
     </tr>
	 </tbody>
 </table>
  <span ng-show="running" ><i class="glyphicon glyphicon-refresh glyphicon-spin glyphicon-loading"></i>
      <text class="glyphicon-loading">Loading...</text>
  </span>
</div>
