<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="job_id">
	Job ID:
      </label>
      <div class="col-sm-10">
	<input type="text" class="form-control" id="job_id" ng-model="jobId"/>
      </div>
    </div>
    <button type="submit" class="btn btn-default" ng-click="getResult()">Submit</button>
  </form>
  <div class="results" ng-hide="jobResult == null">
    <div class="row">
      <div class="col-sm-2"><div class="tablekey">Job status:</div></div><div class="col-sm-10 tablevalue {{jobResult.status}}">{{jobResult.status}}</div>
    </div>
    <div ng-hide="jobResult.output == null">
      <div class="row">
	<div class="col-sm-2">
	  <div class="tablekey">DB:</div>
	</div>
	<div class="col-sm-10 tablevalue">{{jobResult.output.db_uri}}</div>
      </div>	      
      <div class="row">
	<div class="col-sm-2">
	  <div class="tablekey">Overall HC result:</div>
	</div>
	<div class="col-sm-10 tablevalue {{jobResult.output.status}}">{{jobResult.output.status}}</div>
      </div>
      <div ng-hide="jobResult.output.results == null">

	<div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
	  <div class="panel panel-default" ng-repeat="(test,result) in jobResult.output.results">
	    <div class="{{result.status}} panel-heading" role="tab">
	      <h4 class="panel-title">
		{{ test }} : {{result.status}}
		<a bs-collapse-toggle ng-show="result.status=='failure'">
		  <span class="glyphicon glyphicon-plus"></span>
		</a>
	      </h4>
	    </div>
	    <div class="panel-collapse" role="tabpanel" bs-collapse-target ng-show="result.status == 'failure'">
	      <div class="panel-body">
		<ul>
		  <li ng-repeat="msg in result.messages track by $index">
		    {{msg}}
		  </li>
		</ul>
	      </div>
	    </div>
	  </div>
	</div>
	
      </div>
    </div>
  
</div>
